# Matlab Files
*.asv
*.m~
*.mex*
slprj/
octave-workspace
.autosave

# Scala
target
*.log
*.class

# sbt
.cache
.history
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Chisel
test_run_dir

# ASIC Tools
black_box_verilog_files.f
DVEfiles
command.log
icc_output.txt

# Project based
generated-src
ucli.key
bash.sh
*~
*.o
